{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <h1 class="text-center">Bien index</h1>

<!-- Grid row -->
<div class="row">
    {% for bien in biens %}
  <!-- Grid column -->
    <div class="col-md-6 mb-4">

    <!--Card-->
        <div class="card default-color-dark">

          <!--Card image-->
          <div class="view">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(125).jpg" class="card-img-top" alt="photo">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title white-text">{{ bien.titre }}</h4>
                <strong>{{ bien.prix }} €</strong>
            <!--Text-->
            <p class="card-text white-text">{{ bien.description }}</p>
            <div class="d-flex justify-content-around">
                <p>{{ bien.categorie }}</p>
                <a href="{{ path('bien_show', {'id': bien.id}) }}" class="btn btn-outline-white btn-md waves-effect">Voir détails</a>
                <p>{{ bien.type }}</p>
            </div>
          </div>

        </div>
    <!--/.Card-->

    </div>
  <!-- Grid column -->

  <!-- Grid column -->
  {% endfor %}

</div>
<!-- Grid row -->
        
{% endblock %}
